.root {
    -solarized-base03: #002b36;
    -solarized-base02: #073642;
    -solarized-base01: #586e75;
    -solarized-base00: #657b83;
    -solarized-base0: #839496;
    -solarized-base1: #93a1a1;
    -solarized-base2: #eee8d5;
    -solarized-base3: #fdf6e3;
    -solarized-yellow: #b58900;
    -solarized-orange: #cb4b16;
    -solarized-red: #dc322f;
    -solarized-magenta: #d33682;
    -solarized-violet: #6c71c4;
    -solarized-blue: #268bd2;
    -solarized-cyan: #2aa198;
    -solarized-green: #859900;
}

.light {
    -editor-bg: -solarized-base3;
    -editor-bg-line: -solarized-base2;
    -editor-fg: -solarized-base03;
    -editor-comment: -solarized-base0;
    -editor-doc: -solarized-base02;
    -editor-error-char: -solarized-red;
    -editor-separator: -solarized-base02;
    -editor-structural: -solarized-magenta;
    -editor-identifier: -solarized-base03;
    -editor-fancy-identifier: -solarized-violet;
    -editor-literal: -solarized-orange;
    -editor-datatype: -solarized-cyan;
    -edtor-control: -solarized-blue;
    -editor-operators: -solarized-base02;
    /*-editor-error-char: #dc322f;
    -editor-separator: #268bd2;
    -editor-structural: #6c71c4;
    -editor-identifier: #b58900;
    -editor-fancy-identifier: #b58900;
    -editor-literal: #cb4b16;
    -editor-comment: #859900;
    -editor-datatype: #b58900;
    -edtor-control: #6c71c4;
    -editor-operators: #6c71c4;*/
}

.dark {
    -editor-bg: -solarized-base02;
    -editor-bg-line: -solarized-base03;
    -editor-fg: -solarized-base3;
    -editor-comment: -solarized-base0;
    -editor-doc: -solarized-base2;
    -editor-error-char: -solarized-red;
    -editor-separator: -solarized-base2;
    -editor-structural: -solarized-magenta;
    -editor-identifier: -solarized-base3;
    -editor-fancy-identifier: -solarized-violet;
    -editor-literal: -solarized-orange;
    -editor-datatype: -solarized-cyan;
    -edtor-control: -solarized-blue;
    -editor-operators: -solarized-base2;
}

.lineno {
    -fx-background-color: -editor-bg;
    -fx-fill: -editor-fg;
}

.styled-text-area, .styled-text-area .content {
    -fx-background-color: -editor-bg;
}

.styled-text-area .line-highlighter {
    -fx-background-color: -editor-bg-line;
    -fx-fill: -editor-bg-line;
}

.styled-text-area .text {
    -fx-fill: -editor-fg;
}

.styled-text-area .nearly-invisible {
    -fx-fill: -solarized-base03;
}

.styled-text-area .error-char {
    -fx-background: -editor-error-char;
}

.styled-text-area .separator {
    -fx-fill: -editor-separator;
}

.styled-text-area .structural {
    -fx-fill: -editor-structural;
    -fx-font-weight: bold;
}

.styled-text-area .literal {
    -fx-fill: -editor-literal;
}

.styled-text-area .identifier {
    -fx-fill: -editor-identifier;

}

.styled-text-area .fancy-identifier {
    -fx-fill: -editor-fancy-identifier;
    -fx-font-weight: bold;
}

.styled-text-area .comment {
    -fx-fill: -editor-comment;
}

.styled-text-area .datatype {
    -fx-fill: -editor-datatype;
}

.styled-text-area .control {
    -fx-fill: -edtor-control;
}

.styled-text-area .operators {
    -fx-fill: -editor-operators;
}


.titled-panel .title {
    -fx-alignment: center;
    -fx-font-scale: 1.2;
    -fx-font-weight: bold;
}

.side-pane > .tool-bar {
    -fx-padding: 0 0 0 0;
}

.side-pane > .tool-bar .toggle-button {
    -fx-padding: 4 4 4 4;
}


.side-pane > .tool-bar:vertical .toggle-button {
    -fx-rotate: -90deg;
}

/*
@mixin rebase($rebase03,$rebase02,$rebase01,$rebase00,$rebase0,$rebase1,$rebase2,$rebase3)
{
    background-color:$rebase03;
    color:$rebase0;
    * { color:$rebase0; }
    h1,h2,h3,h4,h5,h6 { color:$rebase1; border-color: $rebase0; }
    a, a:active, a:visited { color: $rebase1; }
}
@mixin accentize($accent) {
    a, a:active, a:visited, code.url { color: $accent; }
    h1,h2,h3,h4,h5,h6 {color:$accent}
}
html, .light { @include rebase($base3,$base2,$base1,$base0,$base00,$base01,$base02,$base03)}
.dark  { @include rebase($base03,$base02,$base01,$base00,$base0,$base1,$base2,$base3)}
html * {
    color-profile: sRGB;
    rendering-intent: auto;
}
*/