name: Java CI

on:
  - push
  - pull_request

jobs:
  build:
    strategy:
      matrix:
        java: [ 21 ]
        key: [ "2.12.4-SNAPSHOT" ]
              # Binary incompatible "2.12.x"
              # Version not on Maven Central: "2.10.0"
        os:  [ ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    continue-on-error: false
    steps:
      - uses: actions/checkout@v5
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v5
        with:
          java-version: ${{ matrix.java }}
          distribution: 'adopt'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
      - name: Validate Gradle wrapper
        uses: gradle/actions/wrapper-validation@v5

      - run: ./gradlew check
        env:
          KEY_VERSION: ${{ matrix.key }}

      - uses: actions/upload-artifact@v5
        with:
          name: Reports-${{ matrix.os }}-${{ matrix.key }}
          path: build/reports
